config DRM_EXYNOS
	tristate "DRM Support for Samsung SoC EXYNOS Series"
	depends on OF && DRM
	select DRM_KMS_HELPER
	select DRM_KMS_FB_HELPER
	select FB_CFB_FILLRECT
	select FB_CFB_COPYAREA
	select FB_CFB_IMAGEBLIT
	select VIDEOMODE_HELPERS
	help
	  Choose this option if you have a Samsung SoC EXYNOS chipset.
	  If M is selected the module will be called exynosdrm.

if DRM_EXYNOS

config DRM_EXYNOS_DECON
	bool "DECON on Exynos"
	help
	  Choose this option if you want to use Exynos DECON for DRM.

comment "Encoders and Bridges"

config DRM_EXYNOS_DSI
	bool "MIPI-DSI host"
	depends on DRM_EXYNOS_FIMD || DRM_EXYNOS_DECON
	select DRM_MIPI_DSI
	select DRM_PANEL
	default n
	help
	  This enables support for Exynos MIPI-DSI device.

config DRM_EXYNOS_HDMI
	bool "HDMI driver"
	depends on DRM_EXYNOS_FIMD || DRM_EXYNOS_DECON
	default n
	help
	  Enable HDMI driver.

config DRM_EXYNOS_MAIN_LCD_BYPASS
	bool "Enable Main LCD Bypass"
	depends on DRM_EXYNOS_DSI
	default n
	help
	  Enable main display bypass when LCD is disconnected or broken
endif
