/*
 * SAMSUNG EXYNOS8890 board device tree source
 *
 * Copyright (c) 2013 Samsung Electronics Co., Ltd.
 *		http://www.samsung.com
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License version 2 as
 * published by the Free Software Foundation.
*/

/dts-v1/;
#include "exynos8890-board-common.dtsi"
#include "exynos8890-display-lcd.dtsi"

/ {
	model = "Samsung SMDK8890 board based on EXYNOS8890";
	compatible = "samsung,exynos8890", "samsung,SMDK8890";

	ect {
		parameter_address = <0x90000000>;
		parameter_size = <0x19000>;
	};

	pinctrl@10580000 {
		muic_irq: muic-irq {
			samsung,pins = "gpa1-1";
			samsung,pin-function = <0x0>;
			samsung,pin-pud = <0>;
			samsung,pin-drv = <0>;
		};
	};

	pinctrl@14CC0000 {
		dwc3_vbus_en: dwc3-vbus-en {
		    samsung,pins ="gpe4-3";
		    samsung,pin-function = <1>;
		    samsung,pin-pud = <0>;
		    samsung,pin-drv = <0>;
	    };
	};

	pcie0@157A0000 {
		pcie,wlan-gpio = <&gpj1 3 0x1 /* WLAN_EN */ >;
		pcie,bt-gpio = <&gpe7 1 0x1 /* BT_EN */ >;
		status = "okay";
	};

	pcie1@157B0000 {
		pcie,wlan-gpio = <&gpf1 2 0x1 /* WLAN_EN */ >;
		pcie,bt-gpio = <&gpe7 2 0x1 /* BT_EN */ >;
		status = "okay";
	};

	hsi2c@14E60000 {
		status = "okay";
		muic-tsu6721@25 {
			compatible = "tsu6721-muic,i2c";
			reg = <0x25>;
			pinctrl-names = "default";
			pinctrl-0 = <&muic_irq>;
			muic,muic_int = <&gpa1 1 0>;
			gpios = <&gpi2 3 0x1>;
		};
	};

	dwc3_vbus: regulator-usb300 {
		compatible = "regulator-fixed";
		regulator-name = "UHOST_VBUS_EN";
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
		gpio = <&gpe4 3 1>;
		pinctrl-names = "default";
		pinctrl-0 = <&dwc3_vbus_en>;
		enable-active-high;
	};

	usb@15400000 {
		dwc3-vbus-supply = <&dwc3_vbus>;
	};

	decon_f: decon_f@0x13960000 {
		/* EINT for TE */
		gpios = <&gpe2 6 0xf>, <&gpe3 1 0xf>;
		te_eint {
			/* NWEINT_GPE2_PEND(GPE2_6[6]), NWEINT_GPE2_MASK(GPE2_6[6]) */
			reg = <0x0 0x14CC0A14 0x4>, <0x0 0x14CC0914 0x4>;
		};
	};

	decon_s: decon_s@0x13E10000 {
		/* EINT for TE */
		gpios = <&gpe3 1 0xf>;
	};

	dsim_0: dsim@0x13900000 {
		lcd_info = <&s6e3ha2k>;
		/* lcd reset, power */
		gpios = <&gpe2 5 0x1>, <&gpe3 2 0x1>;
	};

	dsim_1: dsim@0x13910000 {
		lcd_info = <&s6e3ha2k>;
		/* lcd reset, power */
		gpios = <&gpe3 0 0x1>;
	};

	hsi2c@14E20000 {
		status = "okay";

		s2mpb02_pmic@59 {
			regulators {
				_buck1_reg: s2mpb02-buck1 {
					regulator-min-microvolt = <600000>;
					regulator-max-microvolt = <1700000>;
					regulator-always-on;
					regulator-boot-on;
				};

				_buck2_reg: s2mpb02-buck2 {
					regulator-name = "VDD12_CAMCORE";
					regulator-min-microvolt = <600000>;
					regulator-max-microvolt = <1500000>;
				};

				_buckboost_reg: s2mpb02-bb {
					regulator-min-microvolt = <2600000>;
					regulator-max-microvolt = <4000000>;
					regulator-always-on;
					regulator-boot-on;
				};

				_ldo1_reg: s2mpb02-ldo1 {
					regulator-min-microvolt = <600000>;
					regulator-max-microvolt = <2187500>;
					regulator-always-on;
					regulator-boot-on;
				};

				_ldo2_reg: s2mpb02-ldo2 {
					regulator-min-microvolt = <600000>;
					regulator-max-microvolt = <2187500>;
					regulator-always-on;
					regulator-boot-on;
				};

				_ldo3_reg: s2mpb02-ldo3 {
					regulator-min-microvolt = <600000>;
					regulator-max-microvolt = <2187500>;
					regulator-always-on;
					regulator-boot-on;
				};

				_ldo4_reg: s2mpb02-ldo4 {
					regulator-min-microvolt = <600000>;
					regulator-max-microvolt = <2187500>;
					regulator-always-on;
					regulator-boot-on;
				};

				_ldo5_reg: s2mpb02-ldo5 {
					regulator-min-microvolt = <600000>;
					regulator-max-microvolt = <2187500>;
					regulator-always-on;
					regulator-boot-on;
				};

				_ldo6_reg: s2mpb02-ldo6 {
					regulator-min-microvolt = <600000>;
					regulator-max-microvolt = <3775000>;
					regulator-always-on;
					regulator-boot-on;
				};

				_ldo7_reg: s2mpb02-ldo7 {
					regulator-min-microvolt = <600000>;
					regulator-max-microvolt = <3775000>;
					regulator-always-on;
					regulator-boot-on;
				};

				_ldo8_reg: s2mpb02-ldo8 {
					regulator-name = "VDD18_CAMIO";
					regulator-min-microvolt = <1800000>;
					regulator-max-microvolt = <1800000>;
				};

				_ldo9_reg: s2mpb02-ldo9 {
					regulator-name = "VDD18_VTCAMIO";
					regulator-min-microvolt = <1800000>;
					regulator-max-microvolt = <1800000>;
				};

				_ldo10_reg: s2mpb02-ldo10 {
					regulator-min-microvolt = <600000>;
					regulator-max-microvolt = <3775000>;
					regulator-always-on;
					regulator-boot-on;
				};

				_ldo11_reg: s2mpb02-ldo11 {
					regulator-min-microvolt = <2800000>;
					regulator-max-microvolt = <2800000>;
				};

				_ldo12_reg: s2mpb02-ldo12 {
					regulator-name = "VDD28_CAMAF";
					regulator-min-microvolt = <1800000>;
					regulator-max-microvolt = <3375000>;
				};

				_ldo13_reg: s2mpb02-ldo13 {
					regulator-name = "VDDA30_VTCAMSEN";
					regulator-min-microvolt = <2800000>;
					regulator-max-microvolt = <3775000>;
				};

				_ldo14_reg: s2mpb02-ldo14 {
					regulator-name = "VDDA28_CAMSEN";
					regulator-min-microvolt = <2800000>;
					regulator-max-microvolt = <2800000>;
				};

				_ldo15_reg: s2mpb02-ldo15 {
					regulator-min-microvolt = <600000>;
					regulator-max-microvolt = <3775000>;
					regulator-always-on;
					regulator-boot-on;
				};

				_ldo16_reg: s2mpb02-ldo16 {
					regulator-min-microvolt = <600000>;
					regulator-max-microvolt = <3775000>;
					regulator-always-on;
					regulator-boot-on;
				};

				_ldo17_reg: s2mpb02-ldo17 {
					regulator-min-microvolt = <600000>;
					regulator-max-microvolt = <3775000>;
					regulator-always-on;
					regulator-boot-on;
				};

				_ldo18_reg: s2mpb02-ldo18 {
					regulator-min-microvolt = <600000>;
					regulator-max-microvolt = <3775000>;
					regulator-always-on;
					regulator-boot-on;
				};
			};
		};
	};
};
